@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.FluentUI.AspNetCore.Components
@using System.Text

@implements IDisposable

@inject NavigationManager Navigation
@inject IUserService User


<AuthorizeView>
    <Authorized>
        <FluentProfileMenu HeaderLabel="Account"
                           Initials="@User.Current?.Initials"
                           FullName="@User.Current?.DisplayName"
                           EMail="@User.Current?.UserName"
                           Image="@User.Current?.PhotoSource"
                           OnFooterLinkClick="@ViewAccount"
                           OnHeaderButtonClick="@BeginLogOut"
                           PopoverStyle="min-width: 330px;" />
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized() => User.OnStateChange += StateHasChanged;

    public void Dispose() => User.OnStateChange -= StateHasChanged;

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    public void ViewAccount()
    {
        Navigation.NavigateTo("https://myprofile.microsoft.com/");
    }
}
